azure-functions==1.23.0
langchain>=0.1.0
langchain-community>=0.0.10
azure-ai-documentintelligence>=1.0.0
azure-identity>=1.15.0
azure-keyvault-secrets>=4.7.0
azure-core>=1.30.0
openai>=1.6.1
PyPDF2==3.0.1
langchain-openai==0.3.19
requests==2.32.3
python-docx==1.0.1
